<div class="container-fluid">
  <div class="row border-top" *ngFor="let student of studentList ">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-1">
          {{student.ID}}</div>
        <div class="col-md-1">
          {{student.Name}}</div>
        <div class="col-md-1">
          {{student.Gender}}</div>
        <div class="col-md-1">
          {{student.Class}}</div>
        <div class="col-md-1">
          {{student.Seat}}</div>
        <div class="col-md-1">
          {{student.Club}}</div>
        <div class="col-md-1">
          {{student.Persona}}</div>
        <div class="col-md-1">
          {{student.Crush}}</div>
        <div class="col-md-1">
          {{student.BreastSize}}</div>
        <div class="col-md-1">
          {{student.Strength}}</div>
        <div class="col-md-1">
          {{student.Hairstyle}}</div>
        <div class="col-md-1">
          {{student.Color}}</div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="row">
          <div class="col-md-1">
              {{student.Eyes}}</div>
            <div class="col-md-1">
              {{student.EyeType}}</div>
            <div class="col-md-1">
              {{student.Stockings}}</div>
            <div class="col-md-1">
              {{student.Accessory}}</div>
            <div class="col-md-1">
              {{student.Scheduletime}}</div>
            <div class="col-md-1">
              {{student.ScheduleDestination}}</div>
            <div class="col-md-1">
              {{student.Scheduleaction}} </div>
      </div>
    </div>


  </div>
</div>